.highlight-search-result {
    position: absolute;
    top: 60px;
    right: 30px;
}
.highlight-search-result .search-dialog {
    position: relative;
    z-index: 6;
    background-color: white;
    border: 1px solid white;
    box-shadow: 
        2px 2px 0 rgba(0, 0, 0, 0.2), /* 左上 */
        3px 2px 0 rgba(0, 0, 0, 0.2), /* 上 */
        3px 3px 0 rgba(0, 0, 0, 0.2), /* 右上 */
        3px 3px 0 rgba(0, 0, 0, 0.2), /* 右 */
        3px 3px 0 rgba(0, 0, 0, 0.2), /* 右下 */
        2px 3px 0 rgba(0, 0, 0, 0.2), /* 下 */
        2px 3px 0 rgba(0, 0, 0, 0.2), /* 左下 */
        2px 2px 0 rgba(0, 0, 0, 0.2); /* 左 */
    border-radius: 5px;
    padding: 10px;
}

.highlight-search-result .search-dialog .search-tools>div {
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: default;
    background-color: white;
    transition: background-color 0.3s;
}
.highlight-search-result .search-dialog .search-tools>div:hover {
    background-color: #d3d3d38b;
    transition: background-color 0.3s;
}
.highlight-search-result .search-dialog .search-tools>div:active {
    background-color: #909090b1;
    transition: background-color 0.2s;
}

::highlight(search-results) {
    background-color: rgb(235 235 5);
    color: rgb(0, 0, 0);
}

::highlight(search-focus) {
    background-color: rgb(255, 150, 50);
    color: rgb(0, 0, 0);
}