.highlight-search-result {
    position: absolute;
    top: 60px;
    right: 30px;
}
.highlight-search-result .search-dialog {
    position: relative;
    z-index: 6;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.highlight-search-result .search-dialog .search-tools div svg[data-id="search-tools-close"] {
    height: 10.5px;
    width: 10.5px;
}
.highlight-search-result .search-dialog .search-tools div svg[data-id^="search-tools-"] {
    background-color: #4b4b4bb1;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: default;
    transition: background-color 0.3s;
}

// .highlight-search-result .search-dialog .search-tools div svg[data-id^="search-tools-"]:hover {
//     background-color: #4b4b4bb1;
// }

.highlight-search-result .search-dialog .search-tools div svg[data-id^="search-tools-"]:active {
    background-color: #2e2e2ebb;
    transition: background-color 0.3s;
}

::highlight(search-results) {
    background-color: rgb(235 235 5);
    color: rgb(0, 0, 0);
}

::highlight(search-focus) {
    background-color: rgb(255, 150, 50);
    color: rgb(0, 0, 0);
}