.highlight-search-result {
    position: absolute;
    top: 60px;
    right: 30px;
}
.highlight-search-result .search-dialog {
    position: relative;
    z-index: 5;
}
::highlight(search-results) {
    background-color: rgb(235 235 5);
    color: black;
}

::highlight(search-focus) {
    background-color: rgb(255, 150, 50);
    color: black;
}