.highlight-search-result {
    position: absolute;
    top: 60px;
    right: 30px;
}
.highlight-search-result .search-dialog {
    position: relative;
    z-index: 5;
    background-color: var(--b3-theme-surface);
    border: 1px solid var(--b3-theme-surface);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.highlight-search-result .search-dialog .search-tools>div {
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: default;
    background-color: var(--b3-theme-surface);
    transition: background-color 0.3s;
}
.highlight-search-result .search-dialog .search-tools>div:hover {
    background-color: var(--b3-theme-surface-light);
    transition: background-color 0.3s;
}
.highlight-search-result .search-dialog .search-tools>div:active {
    background-color: var(--b3-theme-surface-lighter);
    transition: background-color 0.2s;
}

::highlight(search-results) {
    background-color: rgb(235 235 5);
    color: rgb(0, 0, 0);
}

::highlight(search-focus) {
    background-color: rgb(255, 150, 50);
    color: rgb(0, 0, 0);
}